/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";

 .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.blue-btn {
  color: white;
  background-color: #54b6ff;
}

.blue-btn:hover {
  color: white;
  background: #1c9fff !important;
}

.red-btn {
  color: white;
  background-color: #ff5a54;
}

.red-btn:hover {
  color: white;
  background: #ff241c;
}

.green-btn {
  color: white;
  background: #65c965;
}

.green-btn:hover {
  color: white;
  background: #34c234;
}

.bg-yellow-card {
  background-color: #ffe982;
}

.bg-yellow-comment {
  background-color: #fff6cc;
}

.bg-heart {
  background-color: #ff8080;
}

.bg-green {
  background-color: #65c965;
}

.bg-purple {
  background-color: #bd80ff;
}

.bg-red {
  background-color: #ff5a54;
}

.bg-blue {
  background-color: #47d1d1;
}

.bg-orange {
  background-color: #ffbb54;
}

.bg-lilac {
  background-color: #808fff;
}

.bg-pink {
  background-color: #ff80db;
}

.bg-yellow {
  background-color: #f5d65b;
}

.gray-text {
  color: rgba(0, 0, 0, 0.5);
}

a.gray-text:hover {
  color: rgba(0, 0, 0, 0.5);
}
